.carrousel { // boite modale qui contiendra le carrousel
    position: fixed;
    width: 75vw;
    height: 90vh;
    border: 2px solid black;
    background-color: rgba(0, 255, 0, .5);
    top: 5%;
    left: 11%;
    z-index: 3;
    transform: scale(0); // la boite modale est invisible
    opacity: 1;

    transition: transform 0.25s; // Animation de l'ouverture de la boite modale

    @media screen and (min-width: 700px){
        width: 75%;
        height: 75%;
        top: 23%;
        left: 12.5%;
    }
}

.carrousel--ouvrir { // Le bouton pour ouvrir la boite modale
    display: block;
    transform: scale(1);
}

.carrousel__x { // Le bouton pour fermer la boite modale
    position: absolute;
    right: 2%; 
    top: 2%; 
    width: 50px;
    height: 50px;
    padding: 5px 3px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    line-height: 40px; 
    font-size: 2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 2;

    &:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
}

.carrousel__figure { // Conteneur de l'image
    width: auto;
    height: auto;
}

.carrousel__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover; // À changer!
    object-position: center;
    opacity: 0; // cache les images

    transition: opacity 0.25s ease-in-out; // Animation de l'ouverture des images
}

.bouton__ouvrir {
    width: 200px; // Adjust this value as needed
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 1em; // Adjust this value as needed
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
}
.carrousel__radio {
    appearance: none; 
    width: 20px; 
    height: 20px; 
    border: 3px solid #664; 
    border-radius: 50%; 
    outline: none; 
    box-shadow: 0 0 5px #2196F3; 
    transition: 0.2s; 
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;

    &:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
}

.carrousel__radio:checked {
    border: 3px solid white; 
    background-color: rgba(0, 0, 0, 0.8);
}

.carrousel__form {
    margin-top: 0;
        position: absolute;
        z-index: 3; 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%; 
        height: 0; 
        top: 98%;
        gap: 1%;
    }

// Fleche gauche
#prevButton {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 2em;
    cursor: pointer;
    transition: background-color 0.3s ease;

    // Ajout d'un effet de survol
    &:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
}

// Fleche droite
#nextButton {
    position: absolute;
    top: 50%;
    right: 0%;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 2em;
    cursor: pointer;
    transition: background-color 0.3s ease;

    // Ajout d'un effet de survol
    &:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
}

